/*検索バー*/
.search_container{
    box-sizing: border-box;
    position: relative;
    bottom: 400px;
    border: 1px solid #999;
    padding: 4px 80px;
    border-radius: 40px;
    height: 2.3em;
    margin: 0 auto;
    width: 400px;
   
  }
  .search_container input[type="text"]{
    border: none;
    height: 2.0em;
  }
  .search_container input[type="text"]:focus {
    outline: 0;
  }
  .search_container input[type="submit"]{
    cursor: pointer;
    font-family: FontAwesome;
    border: none;
    border-radius: 50%;
    background: #3879D9;
    color: #fff;
    outline : none;
    width: 2.0em;
    height: 2.0em;
  }




/* ラジオボタンの装飾 */
.radio_input {
    display: none;
}

.radio_parts {
    padding-left: 25px;
    position: relative;
    margin-right: 20px;
}

.radio_parts::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #999;
    border-radius: 50%;
}

.radio_input:checked+.radio_parts::after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: #0050c1;
    border-radius: 50%;
}

/* チェックボックスの装飾 */
.checkbox_input {
    display: none;
}

.checkbox_parts {
    padding-left: 25px;
    position: relative;
    margin-right: 25px;
}

.checkbox_parts::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #999;
}

.checkbox_input:checked+.checkbox_parts::after {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 5px;
    width: 7px;
    height: 14px;
    transform: rotate(40deg);
    border-bottom: 3px solid #0050c1;
    border-right: 3px solid #0050c1;
}

/*他エリア*/
.wrapper {
    width: 1000px;
    margin: 30px auto;
}

h1{
    text-align: center;
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 30px;
    color: #0050c1;
}

.search_area {
    text-align: left;
}

.search_area div {
    margin-bottom: 10px;
}

.item_container {
    display: flex;
    flex-wrap: wrap;
}

.item {
    margin: 1.0rem;
    padding: 1.0rem;
    background: #efefef;
    width: calc(80% / 3);
    text-align: left;
    
}
/*絞り込み条件外のアイテム*/
.hide_item {
    display: none;
}
.item:hover{
    background: #f56500;
}

/*書き足したところ*/

.btn {  
    text-decoration: none;
    margin: 1.0rem;
    color:#000000;
    width: calc(80% / 3);
    text-align: left;

}


