html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}
#header{
  position: fixed; /*位置を固定*/
  top: -60px; 
  left: 0;
  background: #A5D4D9;
  width: 100%;
  height: 60px;
  clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 83% 100%);
  z-index: 1; /*要素を最前面に*/
}

#header-deoration{
  width: 120px;
  height: 210px;
  background: #515C80;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
  margin-right: auto;
}

/*
header{
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
}

#header-contents{
  width: 80%; /* 幅 
  height: 0px; /* y位置 
  border-top: 60px solid #A5D4D9; /* 高さ 
  border-left: 0px solid transparent; /* 左側の角度 
  border-right: 150px solid transparent; /* 右側の角度 
  background: #fff;
}
*/

#drop-shadow{
  filter: drop-shadow(5px 5px 7px rgba(0, 0, 0, .16));
}

.contents{
  padding-top: 60px; /*header分余白*/
  height: 2000px;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  height: 100%;
}

.menu-bar {
  background: #A5D4D9;
  color: #fff;
  position: absolute;
  height: 100%;
  width: 45px;
  white-space: nowrap;
  overflow: hidden;
  transition: width 0.1s ease-in;
  transition-delay: 0.3s;
  box-shadow: 5px 5px 7px 0 rgba(0, 0, 0, .16);
  z-index: 2; /*要素を最前面に*/
}

.contents {
  background: #fff;
  height: 100%;
  padding-left: 200px;
  box-sizing: border-box;
  margin-left: 40px;
}

.menu-item .fa-fish-fins {
  font-size: 24px;
  width: 45px;
  text-align: center;
}

.menu-item {
  line-height: 35px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  line-height: 50px;
}

.menu-item:hover {
  background: #2a748a;
}

.menu-bar:hover {
  width: 200px;
}

.thumbs-button{
  text-align: right;
  padding-right: 300px;
}

.fa-thumbs-up, .fa-thumbs-down{
  color: #6f748a;
  cursor: pointer;
}

.fa-thumbs-up:hover{
  color: #EF476F;
}

.fa-thumbs-down:hover{
  color: #06D6A0;
}

.thumbs-button .hover{
  display: inline-block;
  position: relative;
}

.btn-copy{
  color: #6f748a;
  background: none;
  cursor: pointer;
  appearance: none;
  border: 0;
}

.btn-copy:hover{
  color: #2a748a;
  background: none;
}

.btn:focus{
  position:relative;
  top:3px;
  transition:0s;
}

#copyTarget{
  border-width: 0;
}

#title{
  padding-top: 50px;
  font-size: 24px;
  text-align: left;
}

.space30px{
  height: 30px;
}

#main-sentence{
  width: 70%;
  font-size: 14px;
  padding: 10px
}