/*サイドバー関連*/
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
  }
  
  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .container {
    height: 100%;
    position: fixed;
  }
  
  .menu-bar {
    top: 0px;
    display: none;
    background: #A5D4D9;
    color: #fff;
    position: absolute;
    height: 100%;
    width: 200px;
    padding-top: 70px;
    white-space: nowrap;
    overflow: hidden;
    transition: width 0.1s ease-in;
    transition-delay: 0.3s;
    box-shadow: 5px 5px 7px 0 rgba(0, 0, 0, .16);
    z-index: 2; /*要素を最前面に*/
  }
  
  .contents {
    /*background: #fff;*/
    height: 100%;
    padding-left: 200px;
    box-sizing: border-box;
    margin-left: 40px;
  }
  
  .menu-item .fa-fish-fins {
    font-size: 24px;
    width: 45px;
    text-align: center;
  }
  
  .menu-item {
    line-height: 35px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    line-height: 50px;
  }
  
  .menu-item:hover {
    background: #2a748a;
  }

  .menutop_btn{
    color:#ffff;
  }
  
/* ラジオボタンの装飾 */
.radio_input {
    display: none;
}

.radio_parts {
    padding-left: 25px;
    position: relative;
    margin-right: 20px;
}

.radio_parts::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #999;
    border-radius: 50%;
}

.radio_input:checked+.radio_parts::after {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background: #0050c1;
    border-radius: 50%;
}

/* チェックボックスの装飾 */
.checkbox_input {
    display: none;
}

.checkbox_parts {
    padding-left: 25px;
    position: relative;
    margin-right: 25px;
}

.checkbox_parts::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #999;
}

.checkbox_input:checked+.checkbox_parts::after {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 5px;
    width: 7px;
    height: 14px;
    transform: rotate(40deg);
    border-bottom: 3px solid #0050c1;
    border-right: 3px solid #0050c1;
}
/*サイドバー関連終了*/
/*ページ全体*/
.wrapper {
    width: 1000px;
    margin: 30px auto;
    z-index: 50000;
}
.serchbar {
    width: 280px;
    margin: 30px auto;
    z-index: 50000;
}

.search_area {
    text-align: left;
}

.search_area div {
    margin-bottom: 10px;
}
/*ここから先いじるとjsが動かなくなる可能性あり*/
.item {
    margin: 1.0rem;
    padding: 1.0rem;
    background: #efefef;
    text-align: left;
    width: calc(80% / 5);
    
}
.item_container{
    display: flex;
    flex-wrap: wrap;
}


/*絞り込み条件外のアイテム*/
.hide_item {
    display: none;
}
.item:hover{
    background: #f56500;
}
/*ここまでいじるとjsが動かなくなる可能性あり*/

/*検索バー装飾*/
.serch{
    z-index: 99999;
    position: fixed; /*位置を固定*/
    top: 10px;
    margin:auto;
    
}
.search_container{
  box-sizing: border-box;
  position: relative;
  border: 1px solid #999;
  padding: 4px 80px;
  border-radius: 40px;
  height: 2.3em;
  margin: 0 auto;
  width: 400px;
}
.search_container input[type="text"]{
  border: none;
  height: 2.0em;
}
.search_container input[type="text"]:focus {
  outline: 0;
}
.search_container input[type="submit"]{
  cursor: pointer;
  font-family: FontAwesome;
  border: none;
  border-radius: 50%;
  background: #3879D9;
  color: #fff;
  outline : none;
  width: 2.0em;
  height: 2.0em;
}
/*ハンバーガー装飾*/
.hamburger{
    position: fixed;
    top: 10px;
    left: 10px; 
    width:50px;
    height:50px;
    background:#3879D9;
    border-radius:100%;
    position: fixed;
    z-index: 9999;
}
/*ヘッダー装飾*/
header{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  
#header-contents{
    width: 80%; /* 幅 */
    height: 0px; /* y位置 */
    border-top: 60px solid #A5D4D9; /* 高さ */
    border-left: 0px solid transparent; /* 左側の角度 */
    border-right: 150px solid transparent; /* 右側の角度 */
  
  }
  
  .drop-shadow{
    filter: drop-shadow(5px 5px 7px rgba(0, 0, 0, .16));
  }
  
  .contents{
    padding-top: 100px; /*header分余白*/
  }
  
  #header{
    position: fixed; /*位置を固定*/
    top: 0px; 
    left: 0;
    background: #A5D4D9;
    width: 100%;
    height: 60px;
  }
  
  #header{
    /*fixedで上部固定*/
  position: fixed;
  height: 30px;
  width:100%;
  z-index: 999;/*最前面へ*/
  /*以下はレイアウトのためのCSS*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:#2a748a;
  color:#fff;
  text-align: center;
  padding: 20px;
  
  }
  
  #header-contents{
    width: 86%; 
    height: 0px; 
    border-top: 60px solid #A5D4D9; 
    border-left: 0px solid transparent; 
    border-right: 150px solid transparent; 
    /*background: #fff;*/
  }
  
  #header-decoration{
    position: fixed; /*位置を固定*/
    top: -70px;
    right: 0px;
    margin-right: 0;
    width: 250px;
    height: 410px;
    background: #515C80;
    clip-path: polygon(100% 0, 100% 0, 100% 28%, 0 28%);
    margin-right: auto;
    z-index: -1;
  }
  
  .drop-shadow{
    filter: drop-shadow(20px 5px 7px rgba(0, 0, 0, .16));
  }
  
  .contents{
    padding-top: 60px; /*header分余白*/
  }

  /*グッド、バッドボタン*/
.thumbs-button{
    text-align: right;
    padding-right: 300px;
  }
  .fa-thumbs-up, .fa-thumbs-down{
    color: #6f748a;
    cursor: pointer;
  }
  .fa-thumbs-up:hover{
    color: #EF476F;
  }
  .fa-thumbs-down:hover{
    color: #06D6A0;
  }
  .thumbs-button .hover{
    display: inline-block;
    position: relative;
  }
  
  /*コピーボタン*/
  .btn-copy{
    color: #6f748a;
    background: none;
    cursor: pointer;
    appearance: none;
    border: 0;
  }
  .btn-copy:hover{
    color: #2a748a;
    background: none;
  }
  #copyTarget{
    border-width: 0;
  }
  
  /*ボタン押下時、位置をずらす*/
  .btn:focus{
    position:relative;
    top:3px;
    transition:0s;
  }
  
  #title{
    padding-top: 50px;
    font-size: 24px;
    text-align: left;
  }
  
  .space30px{
    height: 30px;
  }
  
  #main-sentence{
    width: 70%;
    font-size: 14px;
    padding: 10px
  }
/*ベロだし*/
.A{
    margin:auto;
    text-align: center;
    font-size: 23px;
    width: calc(80% / 5);
    height: 100%;
}
.A:hover{
    background: #f56500;
}
.A1{
    display:none;
    background: #ffaf74;
    height: 100px;
    width:80%;
}

.B{
    margin:auto;
    text-align: center;
    font-size: 23px;
    width: calc(80% / 5);
    height: 100%;
}
.B:hover{
    background: #f56500;
}
.B1{
    display:none;
    background: #ffaf74;
    height: 100px;
    width:80%;
}
.C{
    margin:auto;
    text-align: center;
    font-size: 23px;
    width: calc(80% / 5);
    height: 100%;
}
.C:hover{
    background: #f56500;
}
.C1{
    display:none;
    background: #ffaf74;
    height: 100px;
    width:80%;
}
.D{
    margin:auto;
    text-align: center;
    font-size: 23px;
    width: calc(80% / 5);
    height: 100%;
}
.D:hover{
    background: #f56500;
}
.D1{
    display:none;
    background: #ffaf74;
    height: 100px;
    width:80%;
}
.E{
    margin:auto;
    text-align: center;
    font-size: 23px;
    width: calc(80% / 5);
    height: 100%;
}
.E:hover{
    background: #f56500;
}
.E1{
    display:none;
    background: #ffaf74;
    height: 100px;
    width:80%;
}

.F{
    margin:auto;
    text-align: center;
    font-size: 23px;
    width: calc(80% / 5);
    height: 100%;
}
/*メール*/
.F:hover{
    background: #f56500;
}
.F1{
    display:none;
    background: #ffaf74;
    height: 100px;
    width:80%;
}
.G{
    margin:auto;
    text-align: center;
    font-size: 23px;
    width: calc(80% / 5);
    height: 100%;
}
.G:hover{
    background: #f56500;
}
.G1{
    display:none;
    background: #ffaf74;
    height: 100px;
    width:80%;
}.H{
    margin:auto;
    text-align: center;
    font-size: 23px;
    width: calc(80% / 5);
    height: 100%;
}
.H:hover{
    background: #f56500;
}
.H1{
    display:none;
    background: #ffaf74;
    height: 100px;
    width:80%;
}.I{
    margin:auto;
    text-align: center;
    font-size: 23px;
    width: calc(80% / 5);
    height: 100%;
}
.I:hover{
    background: #f56500;
}
.I1{
    display:none;
    background: #ffaf74;
    height: 100px;
    width:80%;
}
.J{
    margin:auto;
    text-align: center;
    font-size: 23px;
    width: calc(80% / 5);
    height: 100%;
}
.J:hover{
    background: #f56500;
}
.J1{
    display:none;
    background: #ffaf74;
    height: 100px;
    width:80%;
}
/*手紙*/
.K{
    margin:auto;
    text-align: center;
    font-size: 23px;
    width: calc(80% / 5);
    height: 100%;
}
.K:hover{
    background: #f56500;
}
.K1{
    display:none;
    background: #ffaf74;
    height: 100px;
    width:80%;
}
.L{
    margin:auto;
    text-align: center;
    font-size: 23px;
    width: calc(80% / 5);
    height: 100%;
}
.L:hover{
    background: #f56500;
}
.L1{
    display:none;
    background: #ffaf74;
    height: 100px;
    width:80%;
}
.M{
    margin:auto;
    text-align: center;
    font-size: 23px;
    width: calc(80% / 5);
    height: 100%;
}
.M:hover{
    background: #f56500;
}
.M1{
    display:none;
    background: #ffaf74;
    height: 100px;
    width:80%;
}
.N{
    margin:auto;
    text-align: center;
    font-size: 23px;
    width: calc(80% / 5);
    height: 100%;
}
.N:hover{
    background: #f56500;
}
.N1{
    display:none;
    background: #ffaf74;
    height: 100px;
    width:80%;
}
.O{
    margin:auto;
    text-align: center;
    font-size: 23px;
    width: calc(80% / 5);
    height: 100%;
}
.O:hover{
    background: #f56500;
}
.O1{
    display:none;
    background: #ffaf74;
    height: 100px;
    width:80%;
}
/*チャット*/
.P{
    margin:auto;
    text-align: center;
    font-size: 23px;
    width: calc(80% / 5);
    height: 100%;
}
.P:hover{
    background: #f56500;
}
.P1{
    display:none;
    background: #ffaf74;
    height: 100px;
    width:80%;
}
.Q{
    margin:auto;
    text-align: center;
    font-size: 23px;
    width: calc(80% / 5);
    height: 100%;
}
.Q:hover{
    background: #f56500;
}
.Q1{
    display:none;
    background: #ffaf74;
    height: 100px;
    width:80%;
}
.R{
    margin:auto;
    text-align: center;
    font-size: 23px;
    width: calc(80% / 5);
    height: 100%;
}
.R:hover{
    background: #f56500;
}
.R1{
    display:none;
    background: #ffaf74;
    height: 100px;
    width:80%;
}
.S{
    margin:auto;
    text-align: center;
    font-size: 23px;
    width: calc(80% / 5);
    height: 100%;
}
.S:hover{
    background: #f56500;
}
.S1{
    display:none;
    background: #ffaf74;
    height: 100px;
    width:80%;
}
.T{
    margin:auto;
    text-align: center;
    font-size: 23px;
    width: calc(80% / 5);
    height: 100%;
}
.T:hover{
    background: #f56500;
}
.T1{
    display:none;
    background: #ffaf74;
    height: 100px;
    width:80%;
}

  
  
